@font-face {
    font-family: "moon";
    src: url(/assets/fonts/Moonrising.ttf);
}
@font-face {
    font-family: 'noisy';
    src: url(/assets/fonts/NoisyWalk.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Plantilla de header y menu */
body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 18  vh;
    background-color: #1f5f61;
}

.header__titulo {
    font-family: 'moon';
    font-size: 70px;
    margin-left: 30px;
    padding: 1px;
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
}

ul li{
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin: 0 20px;
    padding: 5px;
    font-family: 'noisy';
}

ul li a:hover{
    color: #0b8185;
}
/* Main index */
main {
    width: 100vw;
    height: 80vh;
    background-color: #36544f;
    position: relative;
}

.main__texto{
    width: 50vw;
    height: 80vh;
    background-color: 36544f;
    display: inline-block;
}

.main__texto h2 {
    text-align: center;
    font-size: 200px;
    font-family: 'moon';
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 1px;
}

.main__texto h3 {
    text-align: center;
    font-size: 100px;
    font-family: 'moon';
    margin: 10px;
    padding: 1px;
}

.main__imagen{
    position: relative;
    width: 50vw;
    height: 80vh;
    background-color: #36544f;
    float: right;
}

.main__imagen__logo img {
    width: 70%;
    height: auto;
}
/*Sobre mi*/
.main_sobremi p{
    font-size: 30px;
    font-family: 'moon';
}
.main_sobremi_estudios {
    width: 50vw;
    display: inline-block;
    margin-top: 150px;
    text-align: center;
}
.main_sobremi_estudios h2 {
    font-size: 80px;
    font-family: 'noisy';
    
}
.main_sobremi_hobbies {
    float: right;
    width: 50vw;
    margin-top: 150px;
    text-align: center;
}

.main_sobremi_hobbies h2 {
    font-family: 'noisy';
    font-size: 80px;
}



/* estilos pagina skills */

.main__skill div {
    display: inline-block;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 100px;
}

.main__skill div p {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'noisy';
    font-size: 50px;
}
.main__skill__git img {
    width: 300px;
}

.main__skill__github img {
    width: 450px;
}

.main__skill__html img {
    width: 300px;
}

.main__skill__css img {
    width: 215px;
}

/* contacto */
legend {
    font-family: 'noisy';
    font-size: 80px;
}

fieldset label {
    font-family: 'moon';
    font-size: 25px;
}

div h3 {
    font-family: 'moon';
    font-size: 25px;
}

.btn_enviar {
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #1f5f61;
    font-family: 'noisy';
    font-size: 20px;
    color: whitesmoke;
}

.btn_limpiar{
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #1f5f61;
    font-family: 'noisy';
    font-size: 20px;
    color: whitesmoke;
}
/* Estilos footer */
footer {
    width: 100vw;
    height: 12vh;
    background-color: #1f5f61;
    position: relative;
    
}

.footer_imag {
    width: 50vw;
    height: 75px;
    float: left;
}

.footer_imag_logo {
    width: 11%;
    display: flex;
    float: right;
    align-content: center;
}

.footer__txt {
    width: 50vw;
    height: 75px;
    display: inline-block;
}

.footer__txt_p{
    font-size: 30px;
    text-align: left;
    margin-top: 25px;
    font-family: 'noisy' ;
}
