 @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}


body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4 1fr);
}

.header_contenedor {
    background-color: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header_contenedor header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header_contenedor header .logo a{
    font-family: 'Righteous';
    font-size: 38px;
    color: #1CB698;
    text-decoration: none;
}

.header_contenedor header ul {
    display: flex;
    list-style: none;
}

.header_contenedor header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
}

.header_contenedor header nav ul li a:hover {
    color: #1CB698;
}

.header_nav_responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Secction inicio */
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgba(30, 35, 38, 0.1)),
    url(../assets/img/back_black.jpg);
    background-size: cover;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;

}

.inicio .inicio_banner {
    padding: 40px;
    background-color: #1e2326;
    max-width: 450px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
}

.inicio .inicio_banner img {
    border-radius: 100%;
    margin-top: 40px;
    border: 10px solid #1CB698;
    width: 80%;
    margin: auto;
}

.inicio .inicio_banner h1 {
    margin-top: 40px;
    font-size: 45px;
    font-family: 'Righteous';
}

.inicio .inicio_banner h2 {
    font-size: 25px;
    font-weight: normal;
}

.inicio .inicio_banner .inicio_redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .inicio_banner .inicio_redes a:hover {
    background-color: #1CB698;
}

/* S o b r e  m i */
.sobremi_contenido {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.inicio .sobremi_contenido {
    max-width: 1100px;
    margin: auto;
}

.sobremi_contenido h2 {
    font-size: 65px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.inicio .sobremi_contenido p {
    font: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

.inicio .sobremi_contenido p span {
    color: #1CB698;
    font-weight: bold;
}

.sobremi_contenido .filas {
   display: flex;

}

.sobremi_contenido .filas .columnas {
    width: 50%;
}

.sobremi_contenido .filas .columnas h3 {
    font-size: 20px;
    font-family: 'Righteous';
    margin-bottom: 30px;
}

.sobremi_contenido .filas .columnas ul {
    list-style: none;
}

.sobremi_contenido .filas .columnas ul li {
    margin: 12px 0;
}

.sobremi_contenido .filas .columnas ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremi_contenido .filas .columnas .sobremi_intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi_contenido .filas .columnas .sobremi_intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi_contenido .filas .columnas .sobremi_intereses .interes:hover {
    background-color: #1CB698;
}

.sobremi_contenido .filas .columnas .sobremi_intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

/* S K I L L */
.skill_contenido {
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.inicio .skill_contenido {
    max-width: 1100px;
    margin: auto;
}

.skill_contenido h2 {
    font-size: 65px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skill_contenido .fila {
    display: flex;
}


.skill_contenido .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skill_contenido .skill .barra_skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skill_contenido .skill .progreso { 
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skill_contenido .skill .barra_skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -15px;
    right: -20px;
    font-size: 15px;
}

.skill_contenido .skill .barra_html {
    width: 0%;
    animation: 2s barra_html forwards;
}

.skill_contenido .skill .barra_css {
    width: 0%;
    animation: 2s barra_html forwards;
}

.skill_contenido .skill .barra_git {
    width: 0%;
    animation: 2s barra_html forwards;
}

.skill_contenido .skill .barra_javascript {
    width: 0%;
    animation: 2s barra_html forwards;
}

@keyframes barra_html {
    0% {width: 0%;}
    100%{width: 85%;}
}

@keyframes barra_css {
    0% {width: 0%;}
    100%{width: 65%;}
}

@keyframes barra_git {
    0% {width: 0%;}
    100%{width: 50%;}
}

@keyframes barra_javascript {
    0% {width: 0%;}
    100%{width: 10%;}
}